.App,
#root {
  height: 100%;
}
html,
body {
  font-family: "Avenir", "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
input,
button {
  padding: 5px 10px;
  font-size: 30px;
}
input {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  background: none;
  width: 100%;
  margin-right: 10px;
  padding: 0;
}
input:read-only {
  outline: none;
  border: none;
  cursor: pointer;
}
input#dob {
  color: black;
  width: unset;
}
::placeholder {
  color: rgba(255, 255, 255, 0.616);
}
.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://source.unsplash.com/collection/220381/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20px 3fr 1fr 6fr 20px;
}

.btn-regular {
  outline: none;
  display: block;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  background-color: #0be;
  padding: 0 20px;
}

#dob {
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #ccc;
  background-color: #fff;
}
.age-container,
.clock-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
}
.clock-container {
  flex-flow: row nowrap;
}

.clock-container h2 {
  font-size: 12rem;
  color: white;
}
.clock-container .seconds {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: -30px;
}
.age-container .display-1 {
  font-size: 7rem;
}
.age-title {
  color: rgb(173, 173, 173);
  line-height: 1;
  margin: 0 0 0 2px;
}

/* task input */
.task-input-container {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  margin-bottom: 50px;
}
.task-input-container .new-task-input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 3px solid white;
  position: relative;
  font-size: 25px;
}

.task-input-container .new-task-dropdown {
  width: 200px;
  border-bottom: 3px solid white;
  font-size: 35px;
}
/* task items css */
.list-group-container {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 25px;
}
.list-group {
  align-items: center;
  max-height: calc(100vh - 450px);
  overflow-y: auto;
}
.list-group .list-group-item {
  width: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.list-group .list-group-item:hover:not(.disabled) {
  background: rgba(255, 255, 255, 0.205);
}
.list-group .new-task-input:hover {
  border: none;
  outline: none;
  border-bottom: 5px solid white;
}

.list-group .list-group-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
